/* NavBar */
.navbar-nav a {
  font-size: 18px;
}
.category img {
  height: 100px;
  width: 100px;
}
.categoryTop {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.category p {
  text-align: center;
}
.ashish {
  margin: 2.5rem;
}
.sortbyprice {
  /* border: 2px solid red; */
  display: flex;
  padding-top: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}
.sortbyprice button {
  margin-left: 10px;
}
.footer {
  text-align: center;
  background: var(--mainWhite);
  padding: 1rem;
  margin-top: 1.5rem;
  font-size: larger;
  font-weight: bold;
  border-top: 2px solid var(--primaryColor);
  box-shadow: var(--lightShadow) inset;
}

.foot-center {
  margin-top: 1rem;
}

.about-section {
  width: var(--smallWidth);
  max-width: var(--maxWidth);
  margin: 0 auto;
}
